/* General Styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.App {
    text-align: center;
}

/* Header Styles */
header {
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    height: 100%;
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ToolsPage Styles */
.tools-page {
    padding: 20px 0;
}

.tools-page h2 {
    margin-bottom: 20px;
}

.tools-page .card {
    flex: 1;
    margin: 10px;
    max-width: 300px;
}
