name: Build and deploy Node.js app to Azure Web App - heyhi

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: heyhi-life-app    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: 'server/release.zip'  # set this to the path to your web app project
  NODE_VERSION: '18.x'                # set this to the node version to use

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js for server
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'
        cache-dependency-path: server/package-lock.json

    - name: Install server dependencies
      run: npm install
      working-directory: server

    - name: Set up Node.js for client
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'
        cache-dependency-path: client/package-lock.json

    - name: Install client dependencies
      run: npm install
      working-directory: client

    - name: Build the React application
      run: npm run build
      working-directory: client
      env:
        NODE_OPTIONS: --openssl-legacy-provider

    - name: Move build artifacts
      run: mv client/build server/build

    - name: Archive build artifacts
      run: zip -r release.zip .
      working-directory: server

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v3
      with:
        name: node-app
        path: server/release.zip

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v3
      with:
        name: node-app

    - name: Unzip build artifacts
      run: unzip server/release.zip -d release

    - name: 'Deploy to Azure WebApp'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: release
